.ccard {
  // width: 352px;
  overflow: hidden;
  /* @media (max-width: 400px) {
    width: 300px;
  } */
  background: white;
  border-radius: 20px;
  .camp-title {
    font-weight: 600;
    font-size: 18px;
  }

  img{
    object-fit: cover;
    width: 100%;
    overflow: hidden;
    height: 352px;
  }

  .camp-subtitle {
    font-weight: 400;
    font-size: 14px;
    color: #7c7d82;
    margin-top: 11px;
  }

  .campaigns-card-content {
    padding: 24px 30px 24px 30px;
  }

  .camp-learn {
    color: #1d6fa3;
    cursor: pointer;
    display: flex;

    align-items: center;
    gap: 4px;
    margin-top: 29px;
  }
}
