.company-main {
  padding: 80px 0px;
  background-color: #f9f9ff;

  .logo-container{
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;

  }
}
@media (min-width: 1023) {
  .hitter {
    display: none;
  }
}
@media (max-width: 1023) {
  .hitter2 {
    display: none;
  }
}


.slick-track {
    margin:auto;
}