.campaingns{
        padding: 96px 0 96px 0;
    background-color: #f9f9ff;
        font-family: 'Poppins';
    .title{
font-size: 32px;
font-weight: 600;
text-align: center;
    }

    .subtitle{
        font-size: 20px;
        font-weight: 400;
        margin-top: 20px;
        text-align: center  ;
    }

    .camp-block{
        margin-top: 48px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;    
        align-content: center;
        justify-content: center;


        @media (max-width: 1279px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 760px) {
        grid-template-columns: repeat(1, 1fr);
      
        justify-items: center;
        gap: 20px   ;

        }
    }
}